version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - ./mosquitto-no-auth.conf:/mosquitto-no-auth.conf
    command: 'mosquitto -c /mosquitto-no-auth.conf'

  obd2_collector:
    build: ./obd2_collector
    #devices:
    #  - /dev/ttyUSB0:/dev/ttyUSB0
    environment:
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
    depends_on:
      - mqtt

  web_app:
    build: ./web_app
    ports:
      - "8888:3000"
    environment:
      - REACT_APP_MQTT_BROKER=localhost
      - REACT_APP_MQTT_PORT=9001
      - REACT_APP_MQTT_PROTOCOL=ws
    depends_on:
      - mqtt

volumes:
  mosquitto_data:
  mosquitto_log: 
